<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">

    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">INFO</h1>
      <ul class="mdl-mega-footer--link-list">
        {% if site.email %}
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {% endif %}
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via RSS</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">SOCIAL</h1>
      <ul class="mdl-mega-footer--link-list">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="icon  icon--github">
            <span class="username">GitHub Organization</span>
          </a>
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>
      {% endif %}
	  {% if site.google_play %}
        <li>
          <a href="https://play.google.com/store/apps/developer?id={{ site.google_play }}">
            <span class="username">Google Play</span>
          </a>
        </li>
      {% endif %}
      {% if site.google_plus_com %}
        <li>
          <a href="https://plus.google.com/communities/{{ site.google_plus_com }}">
            <span class="username">Google Plus Community</span>
          </a>
        </li>
      {% endif %}
	  {% if site.google_plus_per %}
        <li>
          <a href="https://plus.google.com/u/0/{{ site.google_plus_per }}">
            <span class="username">Google Plus Profile</span>
          </a>
        </li>
      {% endif %}
        <li>
          <a href="http://join-efidroid.rhcloud.com/">
            <span class="username">Slack community</span>
          </a>
        </li>
	  
      </ul>
    </div>


  </div>

  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">&copy; 2016 EFIDroid</div>
  </div>

</footer>
