<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- Start Layout -->
    {% if site.header_type == 'drawer' %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
      {% include search_result.html %}
      {% include header_fixed.html %}
    {% else %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include search_result.html %}
      {% include header.html %}
    {% endif %}

    {{ content }}
    {% include footer.html %}

    </div>
    <!-- /End Layout -->

    <!-- Material Design Lite js Library -->
    <script type="text/javascript" src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    {% if site.pagination_type == 'ops' %}
    <script rel="javascript" type="text/javascript" src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
    {% endif %}
    {% if page.enable_search %}
    <script rel="javascript" type="text/javascript" src="{{ "/js/search.js" | prepend: site.baseurl }}"></script>
    <script rel="javascript" type="text/javascript">
      superSearch({
        searchFile: '/feed.xml',
        searchSelector: '#js-search', // CSS Selector for search container element.
        inputSelector: '#js-search__input', // CSS selector for <input>
        resultsSelector: '#js-search__results' // CSS selector for results container
      });
    </script>
    {% endif %}

    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- bxSlider Javascript file -->
    <script src="/lib/bxslider/jquery.bxslider.min.js"></script>
    <!-- bxSlider CSS file -->
    <link href="/lib/bxslider/jquery.bxslider.min.css" rel="stylesheet" />

    <script rel="javascript" type="text/javascript">
    $(document).ready(function(){
      $(".bxslider").bxSlider();
      $(".screen").css("overflow", "visible");
    });
    </script>
  </body>

</html>
